@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth; /*supaya scroll halus */
}

p{
    font-weight: 300;
    color: #111;
}
body{
    min-height: 1000px;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)),url(img/banner1.jpg);
    background-size: cover;
    background-position: center;
}

.banner .content{
    max-width: 900px;
    text-align: center;
}

.banner .content h2{
    font-size: 5em;
    color: #fff;
}

.banner .content p{
    font-size: 1em;
    color: #fff;
}
.btn{
    font-size: 1em;
    color: #fff;
    background-color: #ff9000;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 5px;
}

.btn:hover{
    letter-spacing: 6px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}

header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

header img{
    height:50px;
}

header .menu {
    position: relative;
    display: flex;

}

header .menu li{
    list-style-type: none;
    margin-left: 30px;
}

header .menu li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header.sticky .menu li a{
    color: #111;
}

header.sticky .menu li a:hover{
    background-color: #ff9000;
}

section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
}

.title-text{
    color: #111;
    font-size: 2em;
    font-weight: 600;
}

.row .col50 .imgbox{
    position: relative;
    width: 100%;
    height: 100%;
}

.row .col50 .imgbox img{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: contain; /*menyesuikan isi conten */
}

.title{
    width: 100%;
    text-align: center;
}
.class .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}

.class .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid white;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.class .content .box .imgbox{
    position: relative;
    width: 100%;
    height: 300px;
}
.class .content .box .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.class .content .box .text{
    padding: 15px 0px 5px;
}
.class .content .box .text h3{
    font-weight: 400;
    color: #111;
    text-align: center;
}


/* Expert */

.expert .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.expert .content .box{
    width: 250px;
    margin: 15px;
}

.expert .content .box .imgbox{
    position: relative;
    width: 100%;
    height: 300px;
}

.expert .content .box .imgbox img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.expert .content .box .text{
     padding: 15px 0px 5px;
}

.expert .content .box .text h3{
    font-weight: 400;
    color: #111;
    text-align: center;
}

/* Testimonial */
.testimonial{
    background: url(img/12.jpg);
    background-size: cover;
}
.white .title-text,
.white p {
     color: #fff;
}

.testimonial .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.testimonial .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

.testimonial .content .box .imgbox {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial .content .box .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonial .content .box  .text{
    text-align: center;
}

.testimonial .content .box  .text p{
    color: #666;
    font-style: italic;
}
.testimonial .content .box .text h3{
    margin: 20px;
    color: #111;
    font-size: 1em;
    color: #ff9000;
    font-weight: 600;
}

/* contact US */

.contact{
    background: url(img/18.jpg);
    background-size: cover;
}

.contactform{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    max-width: 500px;
    margin-top: 50px;
}

.contactform h3{
    color: #111;
    font-size: 1.2em;   
    margin-bottom: 20px;
    font-weight: 500;
}

.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    border: 1px solid;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactform .inputbox input[type="submit"]{
    font-size: 1em;
    color: #fff;
    background-color: #ff9000;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    border:none;
    font-weight: 600;
    cursor: pointer;


}


.copyrighttext{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    background: #111;
    
}
.copyrighttext p{
    color: #fff;
}
.copyrighttext a{
    color: #ff9000;
    font-weight: 500;
    text-decoration: none;
}

/* Mobileresize */
@media (max-width:991px) {
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .menu{
        display: none;
    }
    header .menu li{
        margin-left: 0;
    }

    header .menu.active{
        width: 100%;
        height: calc(100% - 68px);  
        /* calc : calculation bisa menggunakan aritmatika */
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column ;
        cursor: pointer;
        margin-left: auto;
        background: #fff;
    }

    header .menu li a{
        color: #111;
        font-size :1.6em; ;
    }

    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        margin-left: auto;
    }   
    .menuToggle:active{
        background: url(img/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle{
        filter: invert(1);
    }

    section{
        padding: 20px;
    }
    .banner .content h2{
        font-size: 3em;
        color: #fff;
    }
    .row{
        flex-direction: column;
    }
    .row .col50{
        position: relative;
        width: 100%;
    }
    .row .col50 .imgbox{
        height: 300px;
        margin-top: 20px;
    }
    .menus .content{
        margin: 20px;
    }

    .menus .content .box{
        margin: 20px;
    }

    .menu .content .box .imgbox{
        height: 260px;
    }
    .title{
        text-align: center;
    }
    .title-text{
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;

    }
    /* testti */
    .testimonial .content .box{
        margin: 10px;
        padding: 1px;
    }

    .contactform{
        padding: 35px 40px;
        margin-bottom: 30px;
    }
    @media(max-width:480px) {
        .banner.content h2{
            font-size: 2.2em; 
            color: #fff;

        }
        
    }

}


